
/*   Typography    */

@font-face {
  font-family: Ubuntu-Regular;
  src: url(./fonts/Ubuntu-Regular.ttf)format('truetype');
}
@font-face {
  font-family: Ubuntu-Medium;
  src: url('./fonts/Ubuntu-Medium.ttf')format('truetype');
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url('./fonts/Ubuntu-Bold.ttf')format('truetype');
}
@font-face {
  font-family: Ubuntu-BoldItalic;
  src: url('.fonts/Ubuntu-BoldItalic.ttf')format('truetype');
}
@font-face {
  font-family: Ubuntu-Italic;
  src: url('./fonts/Ubuntu-Italic.ttf')format('truetype');
}

/* Efecto de typing sin cursor */
.text-typing {
  font-family: monospace;
  white-space: pre-wrap; /* Respeta los saltos de línea y espaciado */
  letter-spacing: .15em;
}

/* Efecto de typing con cursor parpadeante */
.text-typing-with-cursor {
  font-family: monospace;
  white-space: pre-wrap; /* Respeta los saltos de línea y espaciado */
  letter-spacing: .15em;
}

/* Cursor parpadeante como un span */
.cursor {
  font-weight: bold;
  animation: blink 1s step-start infinite;
  opacity: 1;
  border-right: .15em solid #EC6F2E;
}

/* Animación de parpadeo del cursor */
@keyframes blink {
  50% {
      opacity: 0;
  }
}