// Color Variables

$body-text-color: #575962;
$gray-text-color: #D3D3D3;
$white-color: #ffffff;
$black-color: #191919;
$transparent-bg : transparent;
$transparent-bg-toast:#343a4082;
$default-color : #282a3c;
$primary-color : #177dff;
$secondary-color : #716aca;
$info-color : #36a3f7;
$success-color : #35cd3a;
$warning-color : #ffa534;
$golden-color:#ffcf40;
$danger-color : #f3545d;
$elements-style-color:linear-gradient(135deg, #ff5b84, #eb3461);
:root {
    // sizes
    --body-padding: 2em;
    --app-height: 90vh;
    --app-max-width: 1250px;
    //colors
    --ligth-theme-icon: #ffce45;
    --dark-theme-icon: #333333;
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(255 255 255 / 78%);
    --body-font-personal: "Ubuntu-Regular";
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg: #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);
    --text-default-color: #ffffff;
    --bg-default-color: #515151;
    --bg-default-colorTransparent: #343a40e8;
    --code-default-color: #ffa534;
}

.light-mode {
    --theme-bg-color: rgb(255 255 255 / 31%);
    --theme-color: #191919;
    --inactive-color: #333333;
    --button-inactive: #3c3a3a;
    --search-bg: rgb(255 255 255 / 31%);
    --dropdown-bg: #f7f7f7;
    --overlay-bg: rgb(255 255 255 / 30%);
    --dropdown-hover: rgb(236 236 236);
    --border-color: rgb(255 255 255 / 35%);
    --popup-bg: rgb(255 255 255);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --scrollbar-bg: rgb(255 253 253 / 57%);
    --content-title-color: --theme-color;
    --code-default-color: #f3545d;
    --text-default-color: #333333;
    --bg-default-color: #ffff;
    --bg-default-colorTransparent: #f8f9fa;
}