@use "../../../utils" as *;


/**
 * ----------------------------------------
 * animation window
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation fade-in- logo
 * ----------------------------------------
 */
/* Keyframes para animar la transformación inicial de .logo */
@keyframes logoAnimation {
    0% {
        opacity: 0;
        transform: perspective(1000px) translate(-50%, -50%) skewY(15deg);
    }
    100% {
        opacity: 1;
        transform: perspective(1000px) translate(-50%, -50%) skewY(0deg);
    }
}

/* Keyframes para animar el cambio en h1 span:nth-child(2) y h1 span:nth-child(3) */
@keyframes childAnimationFirst {
    0% {
        color: $primary-color;
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) skewX(0deg);
        left: 0;
        color: #fff;
    }
}
@keyframes childAnimationSecond {
    0% {
        color: #fff;
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) skewX(0deg);
        left: 0;
        color: #fff;
    }
}
/**
 * ----------------------------------------
 * animation fade-in- slogan
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  @function textShadow($precision, $size, $color){
    $value: null;
    $offset: 0;
    $length: $size * (1 / $precision) - 1;
  
    @for $i from 0 through $length {
      $offset: $offset + $precision;
      $shadow: $offset + px $offset + px $color;
      $value: append($value, $shadow, comma);
    }
  
    @return $value;
  }
  
  
  @keyframes scatter {
    0% {
      top: 0;
    }
    50% {
      top: -10px;
    }
    100% {
      top: 0;
    }
  }
  