@use "../utils"  as *;

footer{
    width: 100vw;
    position: fixed;
    top: 92%;
}
.taskBarFooter{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 3.2em;
    padding: 0px 10px;
    bottom: -1em;
    border-top: 1.5px solid #333;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    background-color: var(--scrollbar-bg);   
    .gadgets{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 20em;
      gap:10px;
      a{
        width: 2rem;
        text-decoration: none;
      }
      a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: none;
      }
      a:active {
        text-decoration: none;
      }
      a:hover .gadget{
        margin: 0 0 6px 0;
        width: 2rem;
        transform: translateY(-20.5px);
      }

      a:hover + a .gadget{
        width: 1.7rem;
        margin: 0 0 6px 0;
        top:3px;
      }
      .gadget{
        position: relative;
        width: auto; 
        font-size: 1.5rem;
        transition: 0.2s;
        
      }
      a::after {
        font-size: 10px;
        position: relative;
        color: var(--text-default-color);
        background-color: var(--bg-default-color);;
        bottom: 8em;
        left: 35%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        width: 50px;
        height: 25px;
        padding: 4px 3px 10px;
        border-radius: 8px;
        font-family: "lexend", sans-serif;
        font-weight: 700;
        clip-path: polygon(
          100% 0%,
          100% 0%,
          0% 0%,
          0% 0%,
          0% 0%,
          0% 0%,
          0% 0%,
          0% 0%,
          0% 80%,
          43% 80%,
          50% 101%,
          57% 80%,
          100% 80%,
          100% 0%
        );
      }
      & a:nth-child(1):hover::after {
        content: "Whatsapp";
      }
      a:nth-child(2):hover::after {
        content: "GitHub";
      }
      a:nth-child(3):hover::after {
        content: "Gmail";
      }
      a:nth-child(4):hover::after {
        content: "Linkedin";
      }
      a:nth-child(5):hover::after {
        content: "Terminal";
      }
      a:nth-child(6):hover::after {
        content: "Chrome";
      }
      a:nth-child(7):hover::after {
        content: "Drive";
      }
      a:nth-child(8):hover::after {
        content: "Trash";
      }
      a:nth-child(9):hover::after {
        content: "Settings";
      }
    }

  .windows-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a{
        width: 3em;
        height: 3em;
        position: relative;
        top: 0px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        transition: 0.2s ease-in;
        &:hover{
            background-color:var(--bg-default-color);
            i{
                color: var(--text-default-color);
            }
          }    
        i{  
            color:var(--text-default-color);
            font-size: 1.5rem;
        } 
      }
    a .table{
      width: 2em;
    }
    .windows-tab{
      justify-content: center;
      width: 11em;
      display: flex;
      gap: 0.5em;
      flex-direction: row;
      a .win-tab{
        padding: 0;
        ~.win-img{
          position: absolute;
          width: 2.5em;
          height: 1.5em;
          top:1em;
        }
      }
      a{
        display: flex;
        justify-content: center;
        flex-direction: column;  
        i{
            font-size: 3em;
            top:0em;
            max-height: 100%;
        }
      }
    }
  }

}
.whatsapp{
  color:$success-color;
  }
  .github{
  color:$secondary-color;
  }
  .mail{
  color:$info-color;
  }
  .linkedin{
  color:$primary-color;
  }
  .terminal{
  color:$warning-color;
  }
  .chrome{
    color:$info-color;
  }
  .drive{
    color:$success-color;
  }
  .trash{
  color:$gray-text-color;
  }
  .settings{
    color:$white-color;
  }
// clock section
.taskBarFooter{

    width: inherit;

    .clock-container{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        .otherIcons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
            width: auto;
            cursor: pointer;
            a{
              width: 1.2em;
              height: 3em;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              &:hover{
                background-color:var(--bg-default-color);
                i{
                    color: var(--text-default-color);
                }
              }  
              i{
                color: var(--text-default-color);
              }
            }
            
            .battery {
              position: relative;
              width: 25px;
              border: 3px solid var(--text-default-color);
              height: 15px;
              border-radius: 3.5px;
              background-color: transparent;
            }
            
            .battery:before {
              content: "";
              position: absolute;
              height: 9.5px;
              top:0;
              left:0;
              background-color: $success-color;
              border-radius: 1px;
              animation: full 10s linear infinite;
            }
            
            .battery:after {
              content: "";
              position: absolute;
              right: -7px;
              top: 1px;
              width: 4px;
              height: 6px;
              background-color: var(--text-default-color);
            }
            

        }
        .battery-toast{
          position: absolute;
           top: -9em;
           background-color: var(--bg-default-colorTransparent);
           color: var(--text-default-color);
           border-radius: 1em;
           transition: 0.3s ease-in-out;
        }
        .battery-toast::after{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 8em;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 20px solid var(--bg-default-colorTransparent);         
        }
        .battery-toast-animation{
          -webkit-animation: tilt-in-fwd-br 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-br 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        .clock {
            display: flex;
            flex-direction: column;
            font-family: sans-serif;
            align-items: center;
            height: auto;
            width: 8em;     
            padding: 0em;
            color: var(--text-default-color);
        }
        
        .shape1 {
            height: 1em;
            width: 1em;
            position: absolute;
            background: -o-linear-gradient(315deg, #ff5b84, #eb3461);
            background: $elements-style-color;
            border-radius: 50%;
            right: 0;
            z-index: -1;
        }
        
        .wrapper {
            text-align: center;
        }
        #time {
            font-size: 10px;
            
            display: inline-block;
        }
        #day {
            position: relative;
            font-size: 10px;
            letter-spacing: 2px;
            text-transform: uppercase;
            
            text-align: center;
        }
        #midday {
            display: inline-block;
            
            font-size: 10px;
        }
        .fill-light{
          filter: invert(100%) sepia(5%) saturate(823%) hue-rotate(209deg) brightness(119%) contrast(100%);
        }
      
    }   

}

.builded{
  background-color: var(--bg-default-color);
  position: relative;
  text-align: center;
  display: block;
  color: var(--text-default-color);
}