@use "../utils" as *;

.header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 58px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 0 20px;
    white-space: nowrap;

    .navbar-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2em;
        justify-content: space-between;
    }
    &-menu {
        display: flex;
        align-items: center;
        overflow-x: auto;
        a {
            padding: 20px 20px;
            text-decoration: none;
            color: var(--inactive-color);
            border-bottom: 2px solid transparent;
            transition: 0.3s;
            cursor: pointer;
            &.is-active,
            &:hover {
                color: var(--theme-color);
                border-bottom: 2px solid var(--theme-color);
            }
        }
    }
    &-menu::-webkit-scrollbar:horizontal {
      height: 4px; /* Altura de la barra de desplazamiento horizontal */
    }

    
}

.notify {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        background-color: $primary-color;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        right: 20px;
        top: 16px;
    }
}

.header-title{
    width: 6em;
    height: 15px;
    flex-shrink: 0;
    position: relative;
    @media screen and (max-width: 945px) {
        display: none;
    }
}
.header__input-menu {
    display: inherit;
    position: absolute;
    align-items: center;
    height: 35px;
  }

  .header__input-menu a {
    border-radius: 50%;
    display: inline-flex;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
  }

  .header__input-close {
    background-color: $danger-color;
  }
  .header__input-close:hover {
    background: url("/public/assets/img/svg/close.svg");
    background-size: 100%, 100%;
    transition: 0.3s ease;
    transform: scale(1.5);
  }

  .header__input-full-screen {
    background-color: $success-color;
    transition: 0.3s ease;
  }
  .header__input-full-screen:hover {
    background: url("/public/assets/img/svg/resize.svg");
    background-size: 100%, 100%;
    transition: 0.3s ease;
    transform: scale(1.5);
  }

  .header__input-minimize {
    background-color: $warning-color;
  }
  .header__input-minimize:hover {
    background: url("/public/assets/img/svg/minimize.svg");
    background-size: 100%, 100%;
    transition: 0.3s ease;
    transform: scale(1.5);
  }

.search-bar {
    height: 40px;
    display: flex;
    width: 20em;
    max-width: 400px;
    padding-left: 16px;
    border-radius: 4px;

    input {
        width: 100%;
        height: 100%;
        border: none;
        background-color: var(--search-bg);
        border-radius: 4px;
        font-family: var(--body-font);
        font-size: 15px;
        font-weight: 500;
        padding: 0 20px 0 40px;
        box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: 16px 48%;
        color: var(--theme-color);

        &::placeholder {
            font-family: var(--body-font);
            color: var(--inactive-color);
            font-size: 15px;
            font-weight: 500;
        }
    }
}




