@use "../utils" as *;


.header {

    @media screen and (max-width: 480px) {
        padding: 0 16px;
    }

    &-menu {

        a {

            @media screen and (max-width: 610px) {
                &:not(.main-header-link) {
                    display: none;
                }
            }

        }
    }
}

.notification {

    &+svg {
        @media screen and (max-width: 945px) {
            display: none;
        }
    }
}