@use "../utils" as *;

.content-section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    &-title {
        color: var(--content-title-color);
        margin-bottom: 14px;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        background-color: var(--content-bg);
        padding-left: 0;
        margin: 0;
        border-radius: 14px;
        border: 1px solid var(--theme-bg-color);
        cursor: pointer;

        li {
            list-style: none;
            padding: 10px 18px;
            display: flex;
            align-items: center;
            font-size: 16px;
            width: 100%;
            height: 100%;
            white-space: nowrap;
            transition: 0.3s;

            &:hover {
                background-color: var(--theme-bg-color);

                &:first-child {
                    border-radius: 13px 13px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 13px 13px;
                }
            }

            &+li {
                border-top: 1px solid var(--border-color);
            }
        }

        svg {
            width: 28px;
            border-radius: 6px;
            margin-right: 16px;
            flex-shrink: 0;
        }
        img {
            width: 28px;
            border-radius: 6px;
            margin-right: 16px;
            flex-shrink: 0;
            filter: drop-shadow(2px 4px 6px black);
        }
    }
}

.content-section {

    .products {
        display: flex;
        align-items: center;
        width: 150px;

    }

    .status {
        margin-left: auto;
        width: 140px;
        font-size: 15px;
        position: relative;
        &-content{
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 200px;
            code{
                color:var(--code-default-color);
            }
        }
        &-circle {
            width: 6px;
            height: 6px;
            background-color: $warning-color;
            position: absolute;
            border-radius: 50%;
            top: 4px;
            left: -20px;
            &.blue{
                background-color: $primary-color;
            }
            &.green {
                background-color: $success-color;
            }
            &.red {
                background-color: $danger-color;
            }
        }

        &-button {
            font-size: 15px;
            margin-top: 0;
            padding: 6px 24px;

            &.open {
                background: none;
                color: var(--button-inactive);
                border: 1px solid var(--button-inactive);
            }

            &:not(.open):hover {
                color: #fff;
                border-color: #fff;
            }
        }
    }

    .content-button:not(.open):hover {
        background: $primary-color;
    }

    .menu {
        width: 5px;
        height: 5px;
        background-color: var(--button-inactive);
        border-radius: 50%;
        box-shadow: 7px 0 0 0 var(--button-inactive), 14px 0 0 0 var(--button-inactive);
        margin: 0 12px;
    }


    .dropdown {
        position: relative;
        height: 53px;
        width: 40px;
        top: -24px;
        display: flex;
        left: -5px;
        background: transparent;
        border: none;
        cursor: pointer;

        ul {
            position: absolute;
            background: var(--dropdown-bg);
            width: 80px;
            height: 3em;
            right: 0;
            top: 20px;
            pointer-events: none;
            opacity: 0;
            transform: translatey(10px);
            transition: all 0.4s ease;

            li .social-link {
                width: 100%;
                position: absolute;
                height: inherit;
                left: 0;                
                text-align: center;
                align-content: center;
                text-decoration: none;
                color: var(--theme-color);
                font-size: 12px;
            }
        }
    }

    .dropdown.is-active {
        ul {
            opacity: 1;
            pointer-events: all;
            transform: translatey(25px);

            li:hover {
                border-radius: inherit;
                background-color: var(--dropdown-hover);
            }
        }
    }

    .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 187px;
        margin-left: auto;

        @media screen and (max-width: 480px) {
            width: auto;
        }
    }
}

.content-section {

    .apps-card {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: calc(100% + 20px);
        .maximized{
            width: calc(100% - 20px);
        }
        .minimized{
            width: calc(33.3% - 20px);
        }
    }

    .app-card {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        background-color: var(--content-bg);
        border-radius: 14px;
        border: 1px solid var(--theme-bg-color);
        padding: 20px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.02);
            background-color: var(--theme-bg-color);
        }

        svg {
            width: 28px;
            border-radius: 6px;
            margin-right: 12px;
            flex-shrink: 0;
        }

        &+.app-card {
            margin-left: 20px;
        }

        span {
            display: flex;
            align-items: center;
        }

        &__subtext {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.6em;
            margin-top: 20px;
            border-bottom: 1px solid var(--border-color);
            padding-bottom: 20px;
        }

        &-buttons {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-top: 16px;
        }

        @media screen and (max-width: 1110px) {
            width: calc(50% - 20px);

            &:last-child {
                margin-top: 20px;
                margin-left: 0px;
            }
        }

        @media screen and (max-width: 565px) {
            width: calc(100% - 20px);
            margin-top: 20px;

            &+.app-card {
                margin-left: 0;
            }
        }

    }


    .form-card {
        display: flex;
        flex-direction: column;
        width: calc(100% - 20px);
        font-size: 16px;
        background-color: var(--content-bg);
        border-radius: 14px;
        border: 1px solid var(--theme-bg-color);
        padding: 20px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.02);
            background-color: var(--theme-bg-color);
        }

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 16px;
        }

        @media screen and (max-width: 1110px) {
            &:last-child {
                margin-top: 20px;
                margin-left: 0px;
            }
        }

        @media screen and (max-width: 565px) {
            width: calc(100% - 20px);
            margin-top: 20px;

            &+.app-card {
                margin-left: 0;
            }
        }
    }
}

.content-profile-header {
    margin: 7em 0 3em;
    .card {
        background: var(--content-bg);
        border-radius: 10px;
        border: 1px solid var(--border-color);
        position: relative;
        color: $white-color;
        z-index: 1;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 10px 25px var(--bg-default-color);
    }

    .card-pic {
        position: relative;
        width: 12rem;
        background-blend-mode: hard-light;
        transition: all .6s ease-in-out;
    }
    .jelly{

        &-card{
            display: flex;
            flex-direction: column;                        
            &.centered{
                align-items: center;
            }
            span{
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
            }
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                img{
                    width: 4em;
                    position: absolute;
                    top: 100px;
                    right: 6em;
                }
            }
        }
        &-bloc{
            display: flex;
            gap: 1em;
            flex-direction: column;
            align-items: center;
            ~div{
                padding: 2em;
            }
        }
    }
    .row-photo {
        flex-direction: row; // Por defecto, en columna
        align-items: center;
        justify-content: center;
        color: var(--text-default-color);
        flex-wrap: nowrap;
        // Cuando la pantalla es mayor a 800px, cambiar a fila
        @media (max-width: 992px) {
            flex-direction: column; // Cambiar a fila
            
        }
    }
    @media(max-width:800px) {
        .card-pic {
            top: 0;
        }
    }
    @media(min-width:800px) {

        section {
            padding-top: 15vw;
        }

        section::before {
            left: 50%;
            width: 30vw;
        }
        .card-img{
            height: 12em;
            width: 12em;
            background-color: rgba(255, 255, 255, 0.06);
            -webkit-backdrop-filter: blur(20px);
                    backdrop-filter: blur(20px);
            border-radius: 50%;
            position: absolute;
            margin: 30px auto 20px  auto;
            right: 0;
        
        }
        .card-img img{
            border-radius: 50%;
            width: inherit;
            height: inherit;
        }
        .card-pic {
            position: relative;
            top: 0;
        }
    }

    h5 {
        font-size: 1.8rem;
        font-weight: bold;
    }

    h5::after {
        font-family: "FontAwesome";
        font-weight: 900;
        content: "\f004";
        color: var(--text-default-color);
    }

    .line {
        width: 100%;
        height: 4px;
        background-color: var(--text-default-color);
        opacity: 0.7;
        margin-bottom: 10px;
    }

 
    i.slowfloat3s {
        position: absolute;
        right: -2vw;
        bottom: -4vw;
        z-index: 2;
        color: $white-color;
        font-size: 3rem;
        background: var(--content-bg);
        border: 1px solid var(--border-color);
        padding: 1rem;
        border-radius: 10px;
        transition: all .6s ease-in-out;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0 10px 25px var(--bg-default-color);
    }

    .slowfloat2s {
        animation: shake-vertical 15s ease-in-out forwards;
    }

    .slowfloat3s {
        -webkit-animation: shake-vertical 20s ease-in-out infinite forwards;
        animation: shake-vertical 20s ease-in-out infinite forwards;
    }

}