@use "../utils" as *;

.wrapper {

    .left-side {

        @media screen and (max-width: 945px) {
            display: none;
        }
    }

    .main-container {
        .main-header {
            .header-menu {
                @media screen and (max-width: 1055px) {
                    margin: 30px;
                }
                @media (max-width: 768px) {
                    display: flex;
                    overflow-x: auto !important; // Activa el scroll horizontal
                    white-space: nowrap; // Evita que los elementos se vayan a la siguiente línea
                    -webkit-overflow-scrolling: touch; // Mejora el scroll en dispositivos móviles
                    gap: 1.5em;
                    scroll-behavior: smooth; 
                    box-sizing: border-box;
                    label {
                        flex: 0 0 auto; // Evita que los elementos se estiren
                        white-space: nowrap;
                        padding: 0.5em 0em;
                        min-width: 100px; // Define un ancho mínimo para los labels
                        max-width: 150px; // Define un ancho máximo para los labels
                        text-align: center; 
                        box-sizing: border-box;
                        p {
                            margin: 0;
                            font-size: 0.85em; // Ajusta el tamaño del texto
                        }
                    }
                }
            }

            .menu-link-main {
                @media screen and (max-width: 1055px) {
                    display: none;
                }
            }
        }

        .content-wrapper {
            @media screen and (max-width: 510px) {
                padding: 20px;
            }

            &-header {
                @media screen and (max-width: 415px) {
                    padding: 20px;
                }

                .content-wrapper-img {
                    @media screen and (max-width: 570px) {
                        width: 110px;
                    }
                }
            }

            .content-section {

                .products {
                    @media screen and (max-width: 480px) {
                        width: 120px;
                    }
                }

                .status {
                    @media screen and (max-width: 700px) {
                        display: none;
                    }

                    &-button {
                        @media screen and (max-width: 390px) {
                            padding: 6px 14px;
                        }
                    }
                }

                @media screen and (max-width: 415px) {
                    .adobe-product .menu {
                        display: none;
                    }
                }

            }

        }

    }
}

.pop-up {

    @media screen and (max-width: 570px) {
        width: 100%;
       }
}