@use "../utils" as *;

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .main-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        height: 58px;
        flex-shrink: 0;

        .header-menu {
            margin-left: 150px;

            a {
                padding: 20px 24px;
            }
        }

        .menu-link-main {
            text-decoration: none;
            color: var(--theme-color);
            padding: 0 30px;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        color: var(--theme-color);
        padding: 20px 40px;
        height: 100%;

        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--theme-bg-color);

        &-header {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            background-image: url("/public/assets/img/background-singleservices-1.jpg");
            background-size: cover;
            border-radius: 14px;
            padding: 20px 40px;

            .content-wrapper-context {
                .content-text {
                    font-weight: 400;
                    font-size: 14px;
                    margin-top: 16px;
                    line-height: 1.7em;
                    color: #ebecec;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    filter: drop-shadow(2px 4px 6px black);
                    .section-title {
                        display: flex;
                        align-items: center;
                        .hidden {
                            display: none !important;
                        }
                        .blockquote-wrapper {
                            display: flex;
                        }

                        /* Blockquote main style */
                        .blockquote {
                            position: relative;
                            font-weight: 800;
                            color: $white-color;
                            width: 100%;
                            max-width: 500px;
                            z-index: 1;
                            margin: 15px auto;
                            align-self: center;
                            border-top: solid 1px;
                            border-bottom: solid 1px;
                        }

                        /* Blockquote header */
                        .blockquote h2 {
                            position: relative;
                            font-size: 40px;
                            color: $white-color;
                            font-weight: 800;
                            line-height: 1;
                            margin: 0;
                            padding: 25px;
                        }

                        /* Blockquote right double quotes */
                        .blockquote:after {
                            position: absolute;
                            content: "”";
                            color: $white-color;
                            font-size: 7rem;
                            line-height: 0;
                            bottom: -34px;
                            right: 30px;
                        }

                        /* increase header size after 600px */
                        @media all and (min-width: 600px) {
                            .blockquote h1 {
                                font-size: 60px;
                            }
                        }
                    }
                    .single-service {
                        margin: 30px 0;
                        position: relative;
                        padding-left: 70px;

                        i {
                            font-size: 45px;
                            position: absolute;
                            left: 0;
                            transition: all 0.4s ease;
                        }

                        a {
                            cursor: unset;
                            color: #fff;
                            font-size: 20px;
                            font-weight: 600;
                            text-decoration: none;
                        }

                        p {
                            margin: 0;
                            font-weight: 400;
                            line-height: 24px;
                        }

                        .info {
                            cursor: pointer;
                            position: relative;
                            margin-left: 0.5em;

                            i {
                                font-size: 20px;
                            }
                        }
                        /* Mostrar el tooltip al hacer hover en .info */
                        .info:hover ~ .hint-content {
                            opacity: 1;
                            visibility: visible;
                            pointer-events: auto;

                            &::before {
                                width: 300px;
                            }

                            &::after {
                                opacity: 1;
                            }
                        }
                        .hint-content:hover .hint-content::after {
                            opacity: 1;
                            visibility: visible;
                          }
                          .hint-content:hover {
                            opacity: 1;
                            visibility: visible;
                          }

                        .hint-content {
                            color: #fff;
                            width: 300px;
                            position: absolute;
                            z-index: 5;
                            padding: 12px 10px;
                            background: rgba(0, 0, 0, 0.8);
                            border-radius: 4px;
                            opacity: 0;
                            visibility: hidden;
                            pointer-events: none;
                            transition: opacity 0.4s ease, visibility 0.4s ease;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            margin-top: 8px;
                    
                            &::before {
                                content: "";
                                position: absolute;
                                bottom: -10px; /* Ajustar para que apunte correctamente al ícono */
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                height: 2px;
                                background: #fff;
                                transition: width 0.4s ease;
                            }
                    
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: -18px; /* Ajustar la posición de la flecha */
                                left: 50%;
                                transform: translateX(-50%) rotate(-45deg);
                                width: 8px;
                                height: 8px;
                                background: #fff;
                                opacity: 0;
                                transition: opacity 0.4s ease;
                            }
                        }
                    }
                }

                .img-content {
                    font-weight: 500;
                    font-size: 17px;
                    display: flex;
                    align-items: center;
                    margin: 0;

                    svg {
                        width: 28px;
                        margin-right: 14px;
                    }
                }
            }

            .content-wrapper-img {
                width: 186px;
                object-fit: cover;
                margin-top: -25px;
                object-position: center;

                @media screen and (max-width: 570px) {
                    width: 110px;
                }
            }
        }

        &.overlay {
            pointer-events: none;
            transition: 0.3s;
            background-color: var(--overlay-bg);
        }
    }
}
