@use "../utils" as *;

/**
	preloader
**/
.preloader {
  .containerPreloader {

    &__a,
    &__b,
    &__c,
    &__d {
      width: 0.75em;
      height: 0.75em;
    }
  }
}
.preloader {
  .containerPreloader {
    &__a,
    &__b,
    &__c,
    &__d {
      animation: bounce3 2s ease-in-out infinite;
      transform-origin: 50% 0;
    }
  }
}
.preloader {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--popup-bg);
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s ease;
  .containerPreloader {
    display: flex;
    justify-content: space-between;
    width: 10em;
    &__a {
      background: $danger-color;
    }
    &__b {
      background: $warning-color;
      animation-delay: 0.1s;
    }
    &__c {
      background: $primary-color;
      animation-delay: 0.2s;
    }
  }
}
.preloader {
  .containerPreloader {
    &__d {
      background: $success-color;
      animation-delay: 0.3s;
    }
  }
}

.preloader.hidden {
  opacity: 0;
  pointer-events: none;
  /* Evitar que interactúe */
}
  /* For error form submitt*/

@keyframes warning-anim {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
  .error-submit{
    width: 40px;
    height: 40px;
    border: solid 6px;
    background-color: $warning-color !important;
    transform: scale(1);
    padding: 0;
    animation: warning-anim 700ms ease;
  }
  .error-submit::before,
  .error-submit::after {
    content: "";
    display: block;
    height: 4px;
    background: $body-text-color;
    position: absolute;
  }
  
  .error-submit::before {
    width: 20px;
    top: 48%;
    left: 5px;
    transform: rotateZ(50deg);
  }
  
  .error-submit::after {
    width: 20px;
    top: 48%;
    left: 5px;
    transform: rotateZ(-50deg);
  }
/*     SPINNER     */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);

  span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }

  span:before {
    content: '';
    position: absolute;
    width: 16px;
    z-index: 3;
    height: 16px;
    border-radius: 50%;
    background: #fff000;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #fff000;
  }
}

.spinner:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.spinner:after {
  content: '';
  position: inherit;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: var(--scrollbar-bg);
}

.spinner.hidden {
  opacity: 0;
  display: none;
  pointer-events: none;
  /* Evitar que interactúe */
}



/* Dark theme */
@media (prefers-color-scheme: dark) {
  \:root {
    --bg: #{hsl(223,10%,10%)};
    --fg: #{hsl(223,10%,90%)};
  }
}

